/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Habibi", serif;
    font-size: 1.25em;
    --green:#06A816;
    --orange:#E75D02;
    --black:#000000;
    --white:#ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
body {
    min-width: 428px;
    
    
    
}


.fruit  {
    display:grid;
    justify-content: center;
    
    
}
.box{
    display:grid;
    justify-content: center;
    margin-bottom:8px; 
}
h1, h3{
    text-align:center;
    font-family: "Irish Grover";
    
}
p{
     font-family:"Habibi";
     font-size:medium;
}
nav{
    text-align:center;
    padding-top: 10px;
}

.box> p {
    padding-top: 10px;
   font-style:italic;
}

/* create nav buttons for fruits and Vegetable */
  .but a {
     background-color: #E75D02;
     border-radius: 5px;
      border: none;
      color:#ffffff;
      padding: 10px 67px;
      text-decoration-line: none;
      display:inline-block;
      font-size: 25px;
      margin:-6px -8px;
  } .but1 a {
    
      background-color: #E75D02;
      border-radius: 5px;
      border: none;
      color:#ffffff;
      padding: 10px 37px;
      text-decoration-line: none;
      display:inline-block;
      font-size: 25px;
      
      margin:-6px -8px;
      
}
/*adjust the text to center in image */
.text, .text1  {
    position:relative;
    /*  */
    
}
#place1{
    position:absolute;
    color:white;
    inset-block:relative;
    padding:8px 30px;
    top: 40%;
    left: 23%;   
}
#place{
    position:absolute;
    background-color:black ;
    opacity: 0.5;
    inset-block:relative;
    padding:8px 30px;
    top: 40%;
    left: 22%;
   
   
}
#peaches, #oranges, #apples, #strawberries, 
#blueberries, #raspberries, #cherries, #pears, #plums, #grapes, #watermelons, #cantalopes, #broccoli, #lettuce, 
#eggplant, #spinach, #bean-sprout, #peas, #bell-pepper, #carrot, #potato, #cucumber, #tomato, #radish {
     padding-bottom:5%;
} 

.veg{
    
    display:grid;
    justify-content: center;
}
/* CreateGreenBackgroundSizePadding */
.box{
    display:grid;
    background-color: #06A816;
    color:#ffffff;
    padding-bottom:10px;
}
h1{
    text-shadow: black 1px 4px;
    font-size: 2.5em;
}
H2{
    font-size:1.75em; 
    font-family: "Irish Grover";
    padding-bottom:2%;
}
h3{
    font-size:1.25em;
    padding-bottom:2%;
}
body{
    margin-left: 2%;
}
footer{
    margin-left: 2%;
}
/* position the top link */
.top a {
    
    display: inline-block;
    background-color: #E75D02;
      border: none;
      color:#ffffff;
      padding: 10px 20px;
      text-decoration-line: none;
      display:inline-block;
      font-size: 14px;
      margin:-6px -8px;
      border-radius: 5px;
      
      
      
}
.right{
    display:grid;
    grid-column:auto;
    position:sticky;
    float:right;
    bottom:0;
    
}